{% extends 'base.html' %}
{% load static %}
{% block title %} About us {% endblock title %}

{% block content %}
    <header>        
        {% include 'home_navbar.html' %}        
    </header>

    
    <div class="container-fluid ">
        <div class="my-5 row">
            <div class="col mx-2">
                <div class="">
                    <h2><i>About Us:</i></h2><hr/>
                    <p>
                        Welcome to EatWithJoy, your ultimate destination for convenient and delicious dining experiences delivered right to your doorstep. With a passion for culinary excellence and a commitment to customer satisfaction, we strive to redefine the way you enjoy food.
                    </p>
                    <p>
                        At EatWithJoy, we understand the fast-paced nature of modern life, which is why we've curated a diverse selection of cuisines from top-rated restaurants and local favorites. Whether you're craving classic comfort food, exotic flavors, or healthy options, our platform caters to every taste bud and dietary preference.
                    </p> 
                    <p>
                        Our user-friendly interface makes ordering a breeze, allowing you to browse menus, customize your selections, and track your delivery in real-time. With secure payment options and dedicated customer support, your satisfaction is our top priority.
                    </p>
                    <p>
                        Join us on a culinary journey where convenience meets quality, and every meal is an unforgettable experience. Let us be your trusted partner in satisfying your cravings, one delicious bite at a time.                                        
                    </p>                               
                </div>
                <div class="">
                    <h2><i>Mission:</i></h2><hr/>
                    <p>
                        At EatWithJoy, our mission is to revolutionize the way people experience dining by providing unparalleled convenience, exceptional variety, and uncompromising quality. We are committed to:
                    </p>
                    <ol>
                        <li><b>Convenience:</b> Simplifying the food ordering process, saving our customers time and effort.</li>
                        <li><b>Variety:</b> Offering a diverse range of cuisines to cater to every palate and preference.</li>
                        <li><b>Quality:</b> Partnering with reputable restaurants and ensuring the freshness and excellence of every dish.</li>
                        <li><b>Customer Satisfaction:</b> Providing outstanding service and support to ensure a seamless and enjoyable dining experience for our customers.</li>
                    </ol>                                  
                </div>
                <div class="">
                    <h2><i>Vission:</i></h2><hr/>
                    <p>
                        Our vision at EatWithJoy is to become the go-to destination for anyone seeking convenient and satisfying dining solutions. We aspire to:
                    </p>
                    <ol>
                        <li><b>Innovation:</b> Continuously evolve our platform to incorporate the latest technologies and trends, enhancing the overall user experience.</li>
                        <li><b>Expansion:</b> Expand our reach to serve customers in every corner of the globe, connecting people with their favorite cuisines wherever they are.</li>
                        <li><b>Community:</b> Foster a vibrant and engaged community of food enthusiasts, sharing recommendations, experiences, and culinary adventures.</li>
                        <li><b>Sustainability:</b> Embrace environmentally friendly practices and support sustainable food sources, contributing to a healthier planet for future generations.</li>
                    </ol>
                    <p>
                        Join us in our mission to transform the way the world enjoys food, one order at a time.
                    </p>
                </div>     
            </div>            
        </div>
</div>

{% endblock content %}
{% block footer %}
<div class="">
<div class="row" style="padding: 15px 15px; background-color:#E7C27E;">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom:20px;">
        
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-4 col-12 d-none ">  
            <h5>Useful Links</h5> <hr>
                <ul style="list-style:none; padding-left:0px;">
                        <li>
                            <a class="text-decoration-none" href="#">Link 1</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="#">Link 2</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="#">Link 3</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="#">Link 4</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="#">Link 5</a>
                        </li>
                        <li>
                            <a class="text-decoration-none" href="#">Link 6</a>
                        </li>
                    </ul>      
            </div>
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-8 col-12" id="contact-section"> 
                <h5 id="contactUs">Contact us</h5>
                <hr>
                <p ><i class="fa-solid fa-location-dot text-secondary"></i><b> Address:</b><br> Green fields, Guntur, Vaddeswaram, Andhra Pradesh, India, pincode 502502</p>
                <p><i class="fa-solid fa-phone text-success"></i><b> Phone number:</b><br> +255 744 581 705 <br> +91 812 531 4802</p>
                <p><i class="fa-solid fa-envelope text-secondary"></i><b> Email:</b><br> manmust1998@gmail.com</p>

                <a class="btn my-1 btn-social-icon btn-secondary btn-sm" href="#"><span role="img" class="fa-brands fa-telegram" title="Telegram" style="font-size: 24px;"></span></a>
                
                <a class="btn my-1 btn-social-icon btn-success rounded-circl btn-sm" href="https://api.whatsapp.com/send/?phone=918125314802&text&app_absent=0" target="_blank"><span role="img" class="fa-brands fa-whatsapp text-light" title="Whatsapp" style="font-size: 24px;"></span></a>
                
                <a class="btn my-1 btn-social-icon btn-danger btn-sm" href="mailto:manmust1998@gmail.com"><span role="img" class="fa-solid fa-envelope" title="Gmail" style="font-size: 24px;"></span></a>                   
                
                <a class="btn my-1 btn-social-icon btn-dark btn-sm" href="#"><span role="img" class="fa-brands fa-github" title="Github" style="font-size: 24px;"></span></a>
                 
                <a class="btn my-1 btn-social-icon btn-danger btn-sm" href="https://www.instagram.com/manmust1998/" target="_blank"><span role="img" class="fa-brands fa-instagram" title="instagram" style="font-size: 24px"></span></a>
                 
                <a class="btn my-1 btn-social-icon btn-danger btn-sm" href="#"><span role="img" class="fa-brands fa-youtube" title="Youtube" style="font-size: 24px;"></span></a>
                    
            </div>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <h5>Leave your comment</h5>
        <hr>                                            
        <form action="" method="post">{% csrf_token %}
            <label for="email">Email:</label><br>
            <input type="email" name="email" id="email" class="form-control" required>
            
            <label for="comment">Comment:</label><br>
            <textarea name="comment" id="comment" cols="20" rows="5" class="form-control" required></textarea>
            
            <input style="Margin-top:10px; " type="button" id="send" name="send" value=" Send " class="btn btn-dark form-control">
        </form>
    </div>
</div>
<div class="row bg-success">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px 0px 0px 0px">
        <p class="text-center text-light">©Abuu Ibtisaam - <span id="currentYear"></span></p>
    </div>        
</div>
</div>
<script>
    document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>
{% endblock footer %}